/*
    body - html tag
    .body - class of html tag
    #body - id of html tag

    margin - outer offset
    padding - inner offset
*/

/* MEDIA QUERIES */

/* Mobile */
@media screen and (max-width: 900px) {
    html, body {
        -webkit-overflow-scrolling: touch;
    }

    .header-container {
        display: flex;
        width: 100% !important;
        margin: 0 !important;
        justify-content: space-evenly;
    }

    .header-brand {
        width: 80% !important;
    }

    .header-logo {
        font-size: 24px !important;
    }

    .header-links-list {
        display: none !important;
    }

    #dropdown-button {
        align-self: stretch;
        padding: 5px;
        margin-left: 10px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: white;
        font-size: 44px;
        width: 78%;
        font-family: Verdana;
        font-weight: 500;
    }

    #dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    #dropdown-content a:active {
        background-color: #ddd;
    }

    #dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .card-container {
        width: 90% !important;
    }
}

/* Tablet */
@media screen and (min-width: 901px) and (max-width: 1200px) {
    #dropdown-button, #dropdown-content {
        display: none !important;
    }

    .header-logo {
        font-size: 22px !important;
    }

    .header-links {
        width: 55% !important;
    }

    #dropdown-button, #dropdown-content {
        display: none !important;
    }

    .card-container {
        width: 42% !important;
    }
}

/* Screen */
@media screen and (min-width: 1201px) {
    #dropdown-button, #dropdown-content {
        display: none !important;
    }
}


/* GENERAL */

html, body {
    height: 100% !important;
    font-family: Verdana;
    margin: 0;
}



/* HEADER */

#header {
    width: 100%;
    height: 75px;
    box-shadow: 0px 0px 100px 1px rgba(0,0,0,.2);
    border: 1px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.header-brand, .header-links, .header-account {
    flex-grow: 1;
    border-right: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(0,0,0,.1);
}


/* Header brand */
.header-brand {
    width: 20%;
    display: flex;
    justify-content: flex-start;
}
.header-brand-container {
    text-align: center;
}
.header-logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 1;
}


/* Header links */
.header-links {
    width: 80%;
}

.header-links-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.header-link-item {
    align-self: center;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;

    /* ... */
    flex-grow: 1;
    height: 80%;
    box-shadow: 1px 1px 10px -3px rgba(0,0,0,.3);
    background-color: rgba(255,255,255,0.8);
    color: white;
}

.header-link {    
    font-style: none;
    font-weight: 800;
    color: black;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.header-link:hover {
    color: rgb(190, 190, 190);
}

/* Header account */
.header-account {
    display: flex;
    width: 20%;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-self: center;
}

.account-login-container {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-self: center;
}

.account-img {
    border-radius: 50%;
}





/* MAIN */
#main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.first-section {
    display: flex;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    justify-content: center;
    align-self: center;
    align-content: center;
    text-align: center;
    color: white;
}

.about-us-information {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.about-us-heading {
    font-size: 50px;
    font-weight: 900;
}

.about-us {
    font-size: 20px;
}

.second-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 50%;
}

.card-container {
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,.3);
}

.card-title {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}



/* FOOTER */
#footer {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 100px 1px rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.8);
    height: 50px;
}

.copyright-container, .privacy-policy-container, .contact-us-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-self: center;
    width: 33.33%;
}

.copyright-container span, .copyright-container a, .privacy-policy-container a, .contact-us-container a {
    color: white;
    text-decoration: none; 
    cursor:pointer; 
}